.FilterBTnWrap
{ margin: 20px auto; width: 95%;}
.FilbtnwrapIM
{width: 33.33%; float: left; }
.FilBtn
{width: 100%; border: 1px solid #e0e0e0; font-weight: bold; padding: 7px 0; font-size: 14px; background: linear-gradient(#e0e0e0, #ffffff);}
.FilBtnA
{width: 100%; border: 1px solid #e0e0e0; font-weight: bold; padding: 7px 0; font-size: 14px; color: #ffffff; background: olive;}
.DashBlock
{border: 1px solid rgb(231, 231, 231); background: #f8f8f8; box-shadow: 2px 2px 3px #d3d3d3; margin: 20px auto; width: 95%; padding: 7px; text-align: center;}
.DashLabel
{font-weight: bold; font-size: 14px; margin: 5px 0;}
.DashFig
{font-weight: bold; font-size: 22px; margin: 5px 0 0 0;}
