.OrdCalProdBlock
{border: 1px solid rgb(185, 185, 185); width: 95%; margin: 10px auto; padding: 10px;}
.ODCalProdName
{font-weight: bold; font-size: 14px; text-align: center; padding-bottom: 5px; }
.ODCalTxt
{width: 100%; border: 1px solid #d3d3d3; padding: 3px; font-size: 14px; font-weight: bold;}
.OdCalTbl
{border: 1px solid #d3d3d3; width: 100%; margin: 5px 0 0 0; }
.OdCalTbl td
{padding: 5px; text-align: center; width: 33.33%; }
.OdCalTbl th
{padding: 5px; text-align: center;  background-color: rgb(241, 241, 241);}
.Highlightr
{background-color: #ffacac;}
.MSL
{background: #7eff6d;}





